<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ideanoval</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>

		<!-- <property name="hibernate.current_session_context_class">thread</property> 
			<property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property> -->
		<mapping class="fr.humanbooster.ideanoval.business.Alerte"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.AlerteCommentaire"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.AlerteIdee"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.ClassementBrains"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.ClassementBuzzs"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.ClassementTops"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.Commentaire"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.Idee"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.IdeeCategorie"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.Utilisateur"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.UtilisateurEtat"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.UtilisateurRole"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.Vote"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.LigneClassementIdee"></mapping>
		<mapping class="fr.humanbooster.ideanoval.business.LigneClassementUtilisateur"></mapping>

	</session-factory>
        
</hibernate-configuration>
