<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<mvc:annotation-driven />

	<!-- <context:annotation-config /> <context:annotation-driven /> -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<context:component-scan base-package="fr.humanbooster.ideanoval" />
	<!-- <context:component-scan base-package="fr.humanbooster.ideanoval.dao.impl" 
		/> <context:component-scan base-package="fr.humanbooster.ideanoval.service.impl" 
		/> -->


	<bean id="AlerteCommentaireDao" class="fr.humanbooster.ideanoval.dao.impl.AlerteCommentaireDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="AlerteIdeeDao" class="fr.humanbooster.ideanoval.dao.impl.AlerteIdeeDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="ClassementBrainsDao" class="fr.humanbooster.ideanoval.dao.impl.ClassementBrainsDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="ClassementBuzzsDao" class="fr.humanbooster.ideanoval.dao.impl.ClassementBuzzsDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="ClassementTopsDao" class="fr.humanbooster.ideanoval.dao.impl.ClassementTopsDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="IdeeCategorieDao" class="fr.humanbooster.ideanoval.dao.impl.IdeeCategorieDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="LigneClassementDao" class="fr.humanbooster.ideanoval.dao.impl.LigneClassementDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="LigneClassementIdeeDao" class="fr.humanbooster.ideanoval.dao.impl.LigneClassementIdeeDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="LigneClassementUtilisateurDao" class="fr.humanbooster.ideanoval.dao.impl.LigneClassementUtilisateurDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="UtilisateurDao" class="fr.humanbooster.ideanoval.dao.impl.UtilisateurDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="UtilisateurEtatDao" class="fr.humanbooster.ideanoval.dao.impl.UtilisateurEtatDaoImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>



	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />

		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- <prop key="hibernate.current_session_context_class">thread</prop> -->

			</props>
		</property>

	</bean>

	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />

		<property name="url" value="jdbc:mysql://localhost:3306/ideanoval" />
		<property name="username" value="root" />
		<!-- <property name="initialSize" value="10" /> <property name="maxActive" 
			value="5" /> <property name="maxWait" value="5000" /> -->
		<!-- Configuration pool -->
		<property name="validationQuery" value="SELECT 1" />
		<property name="validationInterval" value="34000" />
		<property name="testOnBorrow" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="55" />
	</bean>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- <tx:annotation-driven /> -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>